<div class="container">
  <div class="row">
    <div class="col-md col-xl-5 d-flex align-items-center">
      <a class="navbar-brand align-items-center" href="index.html">
        <img src="images/logo.png" alt="">
      </a>
    </div>
    <div class="col-md d-flex align-items-center">

    </div>
    <div class="col-md d-flex align-items-center">
      <div class="con d-flex">
        <div class="icon"><span class="flaticon-clock"></span></div>
        <div class="text">
          <span>Monday - Friday</span>
          <strong>9:00AM-6:00PM</strong>
        </div>
      </div>
    </div>

    <div class="col-md d-flex justify-content-end align-items-center">
      <div class="con d-flex">
        <div class="icon"><span class="flaticon-telephone"></span></div>
        <div class="text">
          <span>Call Us</span>
          <strong>036 - 233 - 7288</strong>
        </div>
      </div>
    </div>
  </div>
</div>
